USE [master]
GO
/****** Object:  Database [pets_shop]    Script Date: 06.09.2024 14:35:50 ******/
CREATE DATABASE [pets_shop]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'pets_shop', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\pets_shop.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'pets_shop_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\pets_shop_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [pets_shop].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [pets_shop]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 06.09.2024 14:35:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cities]    Script Date: 06.09.2024 14:35:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cities](
	[CityId] [int] IDENTITY(1,1) NOT NULL,
	[CityName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Cities] PRIMARY KEY CLUSTERED 
(
	[CityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Facroties]    Script Date: 06.09.2024 14:35:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Facroties](
	[FactoryId] [int] IDENTITY(1,1) NOT NULL,
	[FactoryName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Facroties] PRIMARY KEY CLUSTERED 
(
	[FactoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Importers]    Script Date: 06.09.2024 14:35:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Importers](
	[ImportersId] [int] IDENTITY(1,1) NOT NULL,
	[ImportersName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Importers] PRIMARY KEY CLUSTERED 
(
	[ImportersId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Indexes]    Script Date: 06.09.2024 14:35:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Indexes](
	[IndexId] [int] IDENTITY(1,1) NOT NULL,
	[IndexNumber] [int] NOT NULL,
 CONSTRAINT [PK_Indexes] PRIMARY KEY CLUSTERED 
(
	[IndexId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Names]    Script Date: 06.09.2024 14:35:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Names](
	[NamesId] [int] IDENTITY(1,1) NOT NULL,
	[NamesProductNames] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Names] PRIMARY KEY CLUSTERED 
(
	[NamesId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 06.09.2024 14:35:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[OrderCreateDate] [date] NOT NULL,
	[OrderDeliveryDate] [date] NOT NULL,
	[OrderPickpointId] [int] NOT NULL,
	[OrderUserId] [int] NULL,
	[OrderPickupCode] [int] NOT NULL,
	[OrderStatusId] [int] NOT NULL,
 CONSTRAINT [PK__Order__C3905BAF2B25F5C0] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderProduct]    Script Date: 06.09.2024 14:35:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderProduct](
	[OpId] [int] IDENTITY(1,1) NOT NULL,
	[OpOrderId] [int] NOT NULL,
	[OpProductId] [int] NOT NULL,
	[OpCount] [int] NOT NULL,
 CONSTRAINT [PK_OrderProduct] PRIMARY KEY CLUSTERED 
(
	[OpId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pickpoints]    Script Date: 06.09.2024 14:35:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pickpoints](
	[PickpointId] [int] IDENTITY(1,1) NOT NULL,
	[PickpointIndexId] [int] NOT NULL,
	[PickpointCityId] [int] NOT NULL,
	[PickpointStreetId] [int] NOT NULL,
	[PickpointHouseNumber] [int] NULL,
 CONSTRAINT [PK_Pickpoints] PRIMARY KEY CLUSTERED 
(
	[PickpointId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 06.09.2024 14:35:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ProductId] [int] IDENTITY(1,1) NOT NULL,
	[ProductArticleNumber] [nvarchar](100) NOT NULL,
	[ProductNameId] [int] NOT NULL,
	[ProductCost] [decimal](19, 4) NOT NULL,
	[ProductSaleMax] [int] NOT NULL,
	[ProductFactoryId] [int] NOT NULL,
	[ProductImporterId] [int] NOT NULL,
	[ProductCategoryId] [int] NOT NULL,
	[ProductSale] [tinyint] NULL,
	[ProductCount] [int] NOT NULL,
	[ProductDescription] [nvarchar](300) NOT NULL,
	[NameOfImage] [nvarchar](50) NULL,
	[ProductImage] [image] NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 06.09.2024 14:35:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Statuses]    Script Date: 06.09.2024 14:35:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Statuses](
	[StatusId] [int] IDENTITY(1,1) NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Statuses] PRIMARY KEY CLUSTERED 
(
	[StatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Streets]    Script Date: 06.09.2024 14:35:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Streets](
	[StreetId] [int] IDENTITY(1,1) NOT NULL,
	[StreetName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Streets] PRIMARY KEY CLUSTERED 
(
	[StreetId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 06.09.2024 14:35:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[UserRole] [int] NOT NULL,
	[UserSurname] [nvarchar](100) NOT NULL,
	[UserName] [nvarchar](100) NOT NULL,
	[UserPatronymic] [nvarchar](100) NOT NULL,
	[UserLogin] [nvarchar](100) NOT NULL,
	[UserPassword] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK__User__1788CCACD1B418DC] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([CategoryId], [CategoryName]) VALUES (1, N'Для животных')
INSERT [dbo].[Categories] ([CategoryId], [CategoryName]) VALUES (2, N'Товары для кошек')
INSERT [dbo].[Categories] ([CategoryId], [CategoryName]) VALUES (3, N'Товары для собак')
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Cities] ON 

INSERT [dbo].[Cities] ([CityId], [CityName]) VALUES (1, N'Нефтеюганск')
SET IDENTITY_INSERT [dbo].[Cities] OFF
GO
SET IDENTITY_INSERT [dbo].[Facroties] ON 

INSERT [dbo].[Facroties] ([FactoryId], [FactoryName]) VALUES (1, N'Cat Chow')
INSERT [dbo].[Facroties] ([FactoryId], [FactoryName]) VALUES (2, N'Chappy')
INSERT [dbo].[Facroties] ([FactoryId], [FactoryName]) VALUES (3, N'Dog Chow')
SET IDENTITY_INSERT [dbo].[Facroties] OFF
GO
SET IDENTITY_INSERT [dbo].[Importers] ON 

INSERT [dbo].[Importers] ([ImportersId], [ImportersName]) VALUES (1, N'PetShop')
INSERT [dbo].[Importers] ([ImportersId], [ImportersName]) VALUES (2, N'ZooMir')
SET IDENTITY_INSERT [dbo].[Importers] OFF
GO
SET IDENTITY_INSERT [dbo].[Indexes] ON 

INSERT [dbo].[Indexes] ([IndexId], [IndexNumber]) VALUES (1, 125061)
INSERT [dbo].[Indexes] ([IndexId], [IndexNumber]) VALUES (2, 125703)
INSERT [dbo].[Indexes] ([IndexId], [IndexNumber]) VALUES (3, 125837)
SET IDENTITY_INSERT [dbo].[Indexes] OFF
GO
SET IDENTITY_INSERT [dbo].[Names] ON 

INSERT [dbo].[Names] ([NamesId], [NamesProductNames]) VALUES (1, N'Игрушка')
INSERT [dbo].[Names] ([NamesId], [NamesProductNames]) VALUES (2, N'Клетка')
INSERT [dbo].[Names] ([NamesId], [NamesProductNames]) VALUES (3, N'Лакомство')
SET IDENTITY_INSERT [dbo].[Names] OFF
GO
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([OrderID], [OrderCreateDate], [OrderDeliveryDate], [OrderPickpointId], [OrderUserId], [OrderPickupCode], [OrderStatusId]) VALUES (1, CAST(N'2022-05-06' AS Date), CAST(N'2022-05-12' AS Date), 25, NULL, 601, 2)
INSERT [dbo].[Order] ([OrderID], [OrderCreateDate], [OrderDeliveryDate], [OrderPickpointId], [OrderUserId], [OrderPickupCode], [OrderStatusId]) VALUES (2, CAST(N'2022-05-06' AS Date), CAST(N'2022-05-12' AS Date), 20, NULL, 602, 2)
INSERT [dbo].[Order] ([OrderID], [OrderCreateDate], [OrderDeliveryDate], [OrderPickpointId], [OrderUserId], [OrderPickupCode], [OrderStatusId]) VALUES (3, CAST(N'2022-05-08' AS Date), CAST(N'2022-05-14' AS Date), 22, 9, 603, 1)
SET IDENTITY_INSERT [dbo].[Order] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderProduct] ON 

INSERT [dbo].[OrderProduct] ([OpId], [OpOrderId], [OpProductId], [OpCount]) VALUES (1, 1, 1, 15)
INSERT [dbo].[OrderProduct] ([OpId], [OpOrderId], [OpProductId], [OpCount]) VALUES (2, 2, 11, 15)
INSERT [dbo].[OrderProduct] ([OpId], [OpOrderId], [OpProductId], [OpCount]) VALUES (3, 3, 10, 10)
SET IDENTITY_INSERT [dbo].[OrderProduct] OFF
GO
SET IDENTITY_INSERT [dbo].[Pickpoints] ON 

INSERT [dbo].[Pickpoints] ([PickpointId], [PickpointIndexId], [PickpointCityId], [PickpointStreetId], [PickpointHouseNumber]) VALUES (1, 5, 1, 28, 1)
INSERT [dbo].[Pickpoints] ([PickpointId], [PickpointIndexId], [PickpointCityId], [PickpointStreetId], [PickpointHouseNumber]) VALUES (2, 24, 1, 25, 30)
INSERT [dbo].[Pickpoints] ([PickpointId], [PickpointIndexId], [PickpointCityId], [PickpointStreetId], [PickpointHouseNumber]) VALUES (3, 7, 1, 7, 43)
SET IDENTITY_INSERT [dbo].[Pickpoints] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([ProductId], [ProductArticleNumber], [ProductNameId], [ProductCost], [ProductSaleMax], [ProductFactoryId], [ProductImporterId], [ProductCategoryId], [ProductSale], [ProductCount], [ProductDescription], [NameOfImage], [ProductImage]) VALUES (1, N'A112Т4', 3, CAST(123.0000 AS Decimal(19, 4)), 30, 4, 1, 2, 3, 6, N'Лакомство для кошек Dreamies Подушечки с курицей, 140 г', N'А112Т4.png', NULL)
INSERT [dbo].[Product] ([ProductId], [ProductArticleNumber], [ProductNameId], [ProductCost], [ProductSaleMax], [ProductFactoryId], [ProductImporterId], [ProductCategoryId], [ProductSale], [ProductCount], [ProductDescription], [NameOfImage], [ProductImage]) VALUES (2, N'B427R5', 5, CAST(400.0000 AS Decimal(19, 4)), 15, 10, 2, 1, 4, 5, N'Миска для животных Triol "Стрекоза", 450 мл', N'null', NULL)
INSERT [dbo].[Product] ([ProductId], [ProductArticleNumber], [ProductNameId], [ProductCost], [ProductSaleMax], [ProductFactoryId], [ProductImporterId], [ProductCategoryId], [ProductSale], [ProductCount], [ProductDescription], [NameOfImage], [ProductImage]) VALUES (3, N'D356R4', 6, CAST(600.0000 AS Decimal(19, 4)), 15, 11, 1, 3, 2, 16, N'Мячик для собак TRIXIE DentaFun (32942) зеленый / белый', N'null', NULL)
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([RoleID], [RoleName]) VALUES (1, N'Администратор')
INSERT [dbo].[Role] ([RoleID], [RoleName]) VALUES (2, N'Клиент')
INSERT [dbo].[Role] ([RoleID], [RoleName]) VALUES (3, N'Менеджер')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[Statuses] ON 

INSERT [dbo].[Statuses] ([StatusId], [Status]) VALUES (1, N'Завершен')
INSERT [dbo].[Statuses] ([StatusId], [Status]) VALUES (2, N'Новый ')
SET IDENTITY_INSERT [dbo].[Statuses] OFF
GO
SET IDENTITY_INSERT [dbo].[Streets] ON 

INSERT [dbo].[Streets] ([StreetId], [StreetName]) VALUES (1, N'8 Марта')
INSERT [dbo].[Streets] ([StreetId], [StreetName]) VALUES (2, N'Вишневая')
INSERT [dbo].[Streets] ([StreetId], [StreetName]) VALUES (3, N'Гоголя')
SET IDENTITY_INSERT [dbo].[Streets] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([UserID], [UserRole], [UserSurname], [UserName], [UserPatronymic], [UserLogin], [UserPassword]) VALUES (1, 1, N'Волкова', N'Эмилия', N'Артёмовна', N'nokupekidda2001@gmail.com', N'JlFRCZ')
INSERT [dbo].[User] ([UserID], [UserRole], [UserSurname], [UserName], [UserPatronymic], [UserLogin], [UserPassword]) VALUES (2, 3, N'Денисов', N'Михаил', N'Романович', N'frusubroppotou656@yandex.ru', N'YOyhfR')
INSERT [dbo].[User] ([UserID], [UserRole], [UserSurname], [UserName], [UserPatronymic], [UserLogin], [UserPassword]) VALUES (3, 1, N'Игнатьева', N'Алина', N'Михайловна', N'vilagajaunne-5170@yandex.ru', N'8ntwUp')
SET IDENTITY_INSERT [dbo].[User] OFF
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Pickpoints] FOREIGN KEY([OrderPickpointId])
REFERENCES [dbo].[Pickpoints] ([PickpointId])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Pickpoints]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Statuses] FOREIGN KEY([OrderStatusId])
REFERENCES [dbo].[Statuses] ([StatusId])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Statuses]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_User] FOREIGN KEY([OrderUserId])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_User]
GO
ALTER TABLE [dbo].[OrderProduct]  WITH CHECK ADD  CONSTRAINT [FK_OrderProduct_Order] FOREIGN KEY([OpOrderId])
REFERENCES [dbo].[Order] ([OrderID])
GO
ALTER TABLE [dbo].[OrderProduct] CHECK CONSTRAINT [FK_OrderProduct_Order]
GO
ALTER TABLE [dbo].[OrderProduct]  WITH CHECK ADD  CONSTRAINT [FK_OrderProduct_Product] FOREIGN KEY([OpProductId])
REFERENCES [dbo].[Product] ([ProductId])
GO
ALTER TABLE [dbo].[OrderProduct] CHECK CONSTRAINT [FK_OrderProduct_Product]
GO
ALTER TABLE [dbo].[Pickpoints]  WITH CHECK ADD  CONSTRAINT [FK_Pickpoints_Cities] FOREIGN KEY([PickpointCityId])
REFERENCES [dbo].[Cities] ([CityId])
GO
ALTER TABLE [dbo].[Pickpoints] CHECK CONSTRAINT [FK_Pickpoints_Cities]
GO
ALTER TABLE [dbo].[Pickpoints]  WITH CHECK ADD  CONSTRAINT [FK_Pickpoints_Indexes] FOREIGN KEY([PickpointIndexId])
REFERENCES [dbo].[Indexes] ([IndexId])
GO
ALTER TABLE [dbo].[Pickpoints] CHECK CONSTRAINT [FK_Pickpoints_Indexes]
GO
ALTER TABLE [dbo].[Pickpoints]  WITH CHECK ADD  CONSTRAINT [FK_Pickpoints_Streets] FOREIGN KEY([PickpointStreetId])
REFERENCES [dbo].[Streets] ([StreetId])
GO
ALTER TABLE [dbo].[Pickpoints] CHECK CONSTRAINT [FK_Pickpoints_Streets]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Categories] FOREIGN KEY([ProductCategoryId])
REFERENCES [dbo].[Categories] ([CategoryId])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Categories]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Facroties] FOREIGN KEY([ProductFactoryId])
REFERENCES [dbo].[Facroties] ([FactoryId])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Facroties]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Importers] FOREIGN KEY([ProductImporterId])
REFERENCES [dbo].[Importers] ([ImportersId])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Importers]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Names] FOREIGN KEY([ProductNameId])
REFERENCES [dbo].[Names] ([NamesId])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Names]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Role] FOREIGN KEY([UserRole])
REFERENCES [dbo].[Role] ([RoleID])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Role]
GO
USE [master]
GO
